@font-face {
  font-family: "BreeSerif";
  src: url("./../assets/fonts/BreeSerif-Regular.ttf");
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  font-family: "BreeSerif", Helvetica, Arial, sans-serif;
  transition: 300ms ease-in-out all;
  -webkit-transition: 300ms ease-in-out all;
  -moz-transition: 300ms ease-in-out all;
  -ms-transition: 300ms ease-in-out all;
  -o-transition: 300ms ease-in-out all;
  overflow: hidden;
}

#preloader {
  position: fixed;
  z-index: 9999;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background: url(../assets/images/Preloader.gif) 50% 50% rgb(255, 255, 255);
  background-repeat: no-repeat;
}

#container {
  width: 100%;
  text-align: center;
  background: white;
  margin: auto;
}

.page_warpper {
  width: 1050px;
  padding: 25px;
  text-align: center;
  background: white;
  position: relative;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -5%);
  -webkit-transform: translate(-50%, -5%);
  -moz-transform: translate(-50%, -5%);
  -ms-transform: translate(-50%, -5%);
  -o-transform: translate(-50%, -5%);
  transform-origin: center center;
  transition: 600ms ease-in-out all;
}

/* HEADER STYLE START */
header {
  background-color: #fff;
}
header .head_title h4 {
  font-weight: 100;
  text-align: start;
  font-size: 1.5rem;
  letter-spacing: 0.2rem;
}
header .head_icons-wapper {
  text-align: end;
}
header .head_icons-wapper .head_icons_img {
  display: inline-block;
  width: 12%;
  cursor: pointer;
}
header .head_icons-wapper .head_icons_img img {
  width: 100%;
  height: auto;
}

/* HEADER STYLE END */
/* OPTION STYLE START  */
.options {
  padding: 0 1rem;
  background-color: #0fa0c5;
}

.options_container {
  position: relative;
  z-index: 9;
  transform: scale(1, 1.05);
  padding: 2rem;
  text-align: center;
  border: solid 3px #f5821f;
  background-color: #fff;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
  /* OPTION STYLE END  */
  /* SELECT OPTION STYLE START */
}
.options_container .select_options {
  background-color: #fff;
}
.options_container .select_options .opsBtn {
  display: inline-block;
  margin: 0 1rem;
  padding: 0.4rem 1.1rem;
  background-color: #fff;
  border: solid 2px #0fa0c5;
  font-size: 2rem;
  font-weight: 500;
  cursor: pointer;
  transition: 300ms ease-in-out all;
  border-radius: 20%;
  -webkit-border-radius: 20%;
  -moz-border-radius: 20%;
  -ms-border-radius: 20%;
  -o-border-radius: 20%;
  -webkit-transition: 300ms ease-in-out all;
  -moz-transition: 300ms ease-in-out all;
  -ms-transition: 300ms ease-in-out all;
  -o-transition: 300ms ease-in-out all;
}
.options_container .selected {
  background-color: #0fa0c5 !important;
  color: #fff !important;
}
.options_container .options_wapper .option .opsChild {
  position: relative;
  justify-content: center;
  align-items: center;
}
.options_container .options_wapper .option .opsChild .option_text {
  cursor: pointer;
  font-weight: 500;
  font-size: 2.2rem;
}
.options_container .options_wapper .option .opsChild .option_text .optionSelect {
  display: inline-block;
  position: relative;
  width: 30%;
}
.options_container .options_wapper .option .opsChild .option_text .optionSelect::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 50%;
  height: 2%;
  background-color: #000;
  margin: 0 25%;
  border-radius: 1rem;
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  -ms-border-radius: 1rem;
  -o-border-radius: 1rem;
}
.options_container .options_wapper .option .opsChild .option_text .optionSelect .tik_Mark {
  position: absolute;
  top: -1.5rem;
  right: 0;
}
.options_container .options_wapper .option .opsChild .option_text .optionSelect .tik_Mark img {
  width: 70%;
}
.options_container .options_wapper .option .opsChild .options_img {
  display: inline-block;
}
.options_container .options_wapper .option .opsChild .options_img img {
  width: 100%;
}
.options_container .options_wapper .options_img img {
  vertical-align: middle;
}

/* SELECT OPTION STYLE END */
/* FOOTER CONTENT STYLE STATRT */
.content-footer {
  width: 100%;
  margin: 0;
  padding: 1.5rem 0 0.5rem 0;
  background-color: #deecf6;
}
.content-footer .hideOps {
  opacity: 0.5;
}
.content-footer div img {
  cursor: pointer;
  width: 16%;
  height: 80%;
}

/* FOOTER CONTENT STYLE END */
.help_dialog {
  display: none;
  background-color: #fff;
  width: 100%;
  height: 100%;
}
.help_dialog .help_container {
  z-index: 999;
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
  background-color: #fff;
  border: solid 2px #f5821f;
  width: 100%;
  height: 100%;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
}
.help_dialog .help_container .help_close {
  cursor: pointer;
}
.help_dialog .help_container .help_close img {
  width: 10%;
}

.resourse_dialog {
  display: none;
  overflow: scroll;
  background-color: #fff;
  width: 100%;
  height: 100%;
}
.resourse_dialog .resourse_container {
  background: url("../assets/images/dummy.jpg");
  background-size: cover;
  overflow: scroll;
  padding: 1rem;
  z-index: 999;
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
  background-color: #fff;
  border: solid 3px #f5821f;
  width: 100%;
  height: 100%;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
}
.resourse_dialog .resourse_container .resourse_close {
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
}
.resourse_dialog .resourse_container .resourse_close img {
  width: 5%;
}

.overLay {
  display: none;
  z-index: 1;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.631372549);
}/*# sourceMappingURL=style.css.map */